{% extends "base.html" %}
{% load static %}


{% block css_files %} 
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock %}


{% block title %}
    Login
{% endblock %}



{% block content %}

    <div class="container mt-3">
        <div class="col">
            <h1> Login </h1>
            <br>
            <!-- <form action="{% url 'login' %}" method="POST"> we didn't use action since we alread wanted to be in the same page --> 
            <form method="POST">
                {% csrf_token %}
                {% if error %} 
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                {% endif %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control">
                    
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="mb-3"></div>

                <input type="submit" value="Login" class="btn btn-info">

            </form>
        </div>
    </div>

{% endblock %} 

{% block js_files  %} 
    <script src="{% static 'account/js/script.js' %}"></script>
{% endblock %}